@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
.container {
  width: 100%;
  min-height: calc(100vh - 55px - 100px);
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main {
  width: 90%;
  color: black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  /* justify-items: center;
  align-items: center; */
  gap: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: white;
}
.tank {
  height: 30rem;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  cursor: pointer;
  border: 3px solid white;
  border-radius: 3px;
}
.tank:hover {
  border: 3px solid green;
  opacity: 0.7;
}
.removeButton {
  margin-top: 1rem;
  width: 100%;
  height: 3rem;
  background-color: green;
  border: none;
  border-radius: 3px;
  color: white;
  cursor: pointer;
}
.removeButton:hover {
  background-color: rgb(1, 95, 1);
}
.picture {
  width: 60rem;
  height: 40rem;
  background-image: url("../../images/bookmarks.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.text {
  font-family: "Ubuntu", sans-serif;
  color: gray;
  font-size: 1.4rem;
  margin-top: 0.3rem;
}
.error {
  color: white;
  width: 100%;
  font-size: 1.6rem;
  text-align: center;
}
@media (max-width: 900px) {
  .main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media (max-width: 700px) {
  .main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 600px) {
  .picture {
    width: 50rem;
    height: 30rem;
  }
}
@media (max-width: 550px) {
  .main {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 500px) {
  .picture {
    display: none;
  }
}
@media (max-width: 380px) {
  .main {
    width: 60%;
    grid-template-columns: 1fr;
  }
}
