.container {
  height: 90rem;
  background-color: rgb(23, 23, 23);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.movies {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4.8rem;
}
.title {
  margin-top: 2.4rem;
  width: 90%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
  font-size: 1.1rem;
}
.link {
  font-size: 1.2rem;
  text-decoration: none;
  color: #919191;
  font-weight: bold;
}
.link:hover {
  color: white;
}
.title > h2 {
  color: white;
}
@media (max-width: 1500px) {
  .title {
    justify-content: space-around;
  }
}
@media (max-width: 1200px) {
  .title {
    justify-content: space-between;
  }
}
@media (max-width: 1000px) {
  .container {
    height: 65rem;
  }
}
@media (max-width: 770px) {
  .movies {
    display: grid;
    width: 70%;
    grid-template-columns: 1fr 1fr;
    /* height: 90rem; */
  }
  .container {
    height: 165rem;
  }
  .title {
    margin: 0;
  }
  .movies {
    margin-bottom: 2rem;
    gap: 3.6rem;
  }
}
@media (max-width: 350px) {
  .container {
    height: 125rem;
  }
}
