.container {
  height: 90rem;
  background-color: rgb(23, 23, 23);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.movies {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4.8rem;
}
.title {
  margin-top: 2.4rem;
  width: 90%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
  font-size: 1.1rem;
}
.link {
  font-size: 1.2rem;
  text-decoration: none;
  color: #919191;
  font-weight: bold;
}
.link:hover {
  color: white;
}
.title > h2 {
  color: white;
}
