@import url("https://fonts.googleapis.com/css2?family=Arimo&display=swap");

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main {
  background-image: url("../../images/Background-home.jpg");
  background-position: center;
  background-size: cover;
}
.text {
  width: 90%;
  height: 35rem;
  text-align: center;
  color: white;
  font-family: "Arimo", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid lightgrey;
  padding-top: 2rem;
}
.title {
  font-size: 2.2rem;
}

.description {
  width: 50%;
  font-size: 1.4rem;
  line-height: 1.6rem;
  letter-spacing: 0.1px;
}
.icon {
  width: 2rem;
  height: 2rem;
  stroke: rgb(113, 184, 113);
  fill: rgb(113, 184, 113);
}
.popularText {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}
.popularText > h2 {
  font-size: 1.8rem;
  font-weight: lighter;
  font-family: "Arimo", sans-serif;
}

.linkTxt {
  text-decoration: none;
  font-size: 1.4rem;
  color: #428bca;
}
.linkTxt:hover {
  color: #2b5d8a;
}
.popular {
  width: 90%;
  height: 45rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4.8rem;
}
.latest {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 100rem;
}
.latestMoviesContainer {
  height: 90rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 4.8rem;
}
.latestTitle {
  border-top: 1px solid lightgrey;
  width: 100%;
  color: white;
  font-size: 1.4rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.link {
  text-decoration: none;
  color: #919191;
}
.link:hover {
  color: white;
}
@media (max-width: 1200px) {
  .title {
    font-size: 1.8rem;
  }
}
@media (max-width: 1000px) {
  .title,
  .description,
  .link {
    display: none;
  }
  .text {
    height: 10rem;
  }
  .popular {
    height: 35rem;
  }
}
@media (max-width: 770px) {
  .popular {
    display: grid;
    width: 70%;
    grid-template-columns: 1fr 1fr;
    height: 75rem;
    row-gap: 0;
    padding-top: 0;
  }
  /* .main {
    width: 90%;
  } */
}
@media (max-width: 350px) {
  .popular {
    height: 65rem;
  }
}
