.container {
  height: 50rem;
  background-color: rgb(29, 29, 29);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.movies {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4.8rem;
}
.title {
  margin-top: 2.4rem;
  width: 90%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
  font-size: 1.1rem;
}
.link {
  font-size: 1.2rem;
  text-decoration: none;
  color: #919191;
  font-weight: bold;
}
.link:hover {
  color: white;
}
.title > h2 {
  color: white;
}
@media (max-width: 1500px) {
  .title {
    justify-content: space-between;
  }
}
@media (max-width: 1200px) {
  .title {
    justify-content: space-between;
  }
}
@media (max-width: 1000px) {
  .container {
    height: 40rem;
  }
}
@media (max-width: 770px) {
  .container {
    height: 90rem;
  }
  .movies {
    display: grid;
    width: 70%;
    grid-template-columns: 1fr 1fr;
    height: 75rem;
    gap: 3.6rem;
    row-gap: 0;
  }
}
@media (max-width: 350px) {
  .container {
    height: 65rem;
  }
  .movies {
    row-gap: 0;
  }
}
@media (max-width: 315px) {
  .container {
    justify-content: flex-start;
    /* align-items: flex-start; */
    align-items: center;
    height: 115rem;
  }
  .movies {
    padding-left: 4rem;
    grid-template-columns: 1fr;
  }
}
@media (max-width: 260px) {
  .movies {
    padding-left: 1rem;
  }
}
@media (max-width: 175px) {
  .movies {
    padding-left: 0;
  }
}
