@import url("https://fonts.googleapis.com/css2?family=Arimo&display=swap");
.main {
  /* height: 300rem; */
  background-color: rgb(34, 32, 32);
  color: white;
}
.overviewContainer {
  width: 100%;
  height: 60rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.overview {
  width: 85%;
  height: 100%;
  display: grid;
  grid-template-columns: 0.4fr 0.8fr 0.5fr;
}
.bookmark {
  cursor: pointer;
}
.button {
  width: 100%;
  padding: 1rem;
  font-family: "Arimo", sans-serif;
  font-size: 1.7rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff8f8;
  background-color: green;
  border: none;
  cursor: pointer;
  background-color: #6ac045;
  border-radius: 3px;
}
.underlineText {
  color: #9c969c;
}
.picture {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  font-size: 1.4rem;
  padding-bottom: 1rem;
  gap: 1rem;
}
.block {
  width: 100%;
  height: 39.5rem;
  background-color: #6ac045;
  border: 5px solid #fff8f8;
  border-radius: 5px;
}
.icon {
  width: 2rem;
  height: 2rem;
  stroke: #428e21;
  stroke: rgb(65, 139, 5);
}
.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.item {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.4rem;
}
.buttons {
  display: flex;
  gap: 1rem;
  padding-bottom: 1rem;
}
.review {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.year {
  color: #fff8f8;
  font-size: 1.3rem;
}
.availableText {
  font-size: 1.7rem;
  color: #fff8f8;
}
.title {
  font-size: 4rem;
  color: #fff8f8;
}
.download {
  width: 16rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid #9c969c;
  border-radius: 4px;
  font-size: 1.4rem;
  color: white;
  background-color: #242224;
  padding: 0.3rem 0.3rem;
  text-decoration: none;
}
.items {
  width: 75%;
  height: 40rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.available {
  display: flex;
  flex-direction: column;
}
.buttons {
  display: flex;
  align-items: center;
}
.resolution {
  width: 9rem;
  background-color: #242224;
  color: white;
  font-size: 1.4rem;
  border: 1px solid #9c969c;
  border-radius: 4px;
  cursor: pointer;
  padding: 0.5rem 0.3rem;
  text-decoration: none;
  text-align: center;
}
.heart {
  stroke: green;
  fill: green;
}
.imdb {
  width: 4rem;
  height: 2rem;
  cursor: pointer;
  color: transparent;
}
.rotten {
  width: 1.5rem;
  height: 2rem;
  cursor: pointer;
  color: transparent;
}
.similar {
  height: 100%;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}
.similarContainer {
  width: 80%;
  height: 60%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.similarBlock {
  width: 10rem;
  height: 15rem;
  border: 4px solid white;
  border-radius: 4px;
  cursor: pointer;
}
.similarBlock:hover {
  border: 4px solid green;
}
.similarTitle {
  font-size: 1.6rem;
}
.pictures {
  height: 30rem;
  background-color: #1d1d1d;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.trailer {
  width: 30%;
  height: 80%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.5rem;
  font-weight: bold;
}
.play {
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.trailer:hover {
  opacity: 0.6;
}
.cast {
  font-family: "Arimo", sans-serif;
  height: 45rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1d1d1d;
}
.container {
  width: 85%;
  height: 100%;
  display: flex;
}
.introduction {
  width: 55%;
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2rem;
  padding-top: 2rem;
}
.introTitle {
  font-size: 2rem;
}
.introText {
  font-family: "Arimo", sans-serif;
  font-weight: 400;
  line-height: 2.4rem;
  margin-top: 4rem;
  font-size: 1.5rem;
  color: #919191;
}
.castInfo {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.castContainer {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 2rem;
}
.castMember {
  height: 13.5%;
  width: 100%;
  border-bottom: 2px solid #302f2f;
  display: flex;
  align-items: center;
  color: #919191;
  text-decoration: none;
}
.castPicture {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-image: url("../../images/default_avatar.webp");
}
.character {
  color: white;
  padding-left: 1rem;
}
.castName {
  padding-left: 1.5rem;
  font-size: 1.3rem;
}
.castName:hover {
  color: white;
  cursor: pointer;
}
.castTitle {
  font-size: 2rem;
}
.techSpec {
  width: 100%;
  height: 25rem;
  background-color: #1d1d1d;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.techContainer {
  width: 85%;
  height: 20rem;
  background-color: #1d1d1d;
  display: flex;
  flex-direction: column;
}
.techIntro {
  width: 100%;
  height: 25%;
  background-color: #1d1d1d;
  display: flex;
  align-items: center;
  gap: 20rem;
  font-family: "Arimo", sans-serif;
}
.techIntro > div {
  height: 100%;
  display: flex;
  gap: 1rem;
  font-size: 1.4rem;
  cursor: pointer;
  align-items: center;
}
.insideDiv {
  color: #82877d;
  height: 100%;
  display: flex;
  padding-left: 1rem;
  padding-right: 1rem;
  justify-content: center;
  align-items: center;
}
.techIntro > h1 {
  font-size: 2rem;
}
.techInfo {
  width: 100%;
  height: 80%;
  background-color: #171717;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
}
.techDiv {
  background-color: #171717;
  border-bottom: 2px solid #262626;
  display: flex;
  padding-left: 2rem;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
.techDiv > h2 {
  font-size: 1.4rem;
  color: #82877d;
}
.techDiv > a {
  text-decoration: none;
  color: #82877d;
  font-size: 1.4rem;
}
.techDiv > a:hover {
  color: white;
}
.techIcon {
  width: 2rem;
  height: 2rem;
  stroke: #82877d;
}
.reviews {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reviewsContainer {
  width: 85%;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
@media (max-width: 990px) {
  .similar {
    display: none;
  }
  .overview {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
  }
  .pictures {
    display: none;
  }
  .techInfo {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .techSpec {
    height: 45rem;
  }
  .techContainer {
    height: 40rem;
  }
  .downloadButton {
    display: none;
  }
}
@media (max-width: 770px) {
  .cast {
    height: 70rem;
  }
  .container {
    display: flex;
    flex-direction: column;
    height: 65rem;
  }
  .castInfo {
    width: 100%;
    height: 100%;
    justify-content: flex-start;
  }
  .castContainer {
    justify-content: center;
    align-items: flex-start;
  }
  .castMember {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .block {
    height: 35rem;
  }
  .picture {
    justify-content: center;
    width: 20rem;
  }
  .introduction {
    width: 100%;
  }
}
@media (max-width: 640px) {
  .techIntro {
    gap: 5rem;
  }
  .buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}
@media (max-width: 570px) {
  .picture {
    justify-content: flex-end;
  }
}
@media (max-width: 475px) {
  .techIntro {
    gap: 1rem;
  }
}
@media (max-width: 430px) {
  .techIntro {
    display: flex;
    flex-direction: column;
  }
  .picture {
    width: 15rem;
    justify-content: center;
  }
  .block {
    width: 100%;
    height: 25rem;
  }
  .text {
    justify-content: flex-start;
    padding-top: 8rem;
  }
  .picture {
    justify-content: flex-start;
    padding-top: 8rem;
  }
}
@media (max-width: 390px) {
  .overviewContainer {
    height: 60rem;
  }
  .title {
    font-size: 1.6rem;
  }
  .year > h2 {
    font-size: 1.4rem;
  }
  .overviewContainer {
    align-items: flex-start;
  }
  .text {
    justify-content: flex-start;
    padding-top: 8rem;
  }
  .picture {
    justify-content: flex-start;
    padding-top: 8rem;
  }
  .resolution {
    font-size: 1rem;
  }
  .download {
    font-size: 1.3rem;
  }
  .cast {
    height: 80rem;
  }
}
@media (max-width: 360px) {
  .overviewContainer {
    height: 80rem;
  }
  .overview {
    display: flex;
    flex-direction: column;
  }
  .picture {
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .block {
    width: 50%;
  }
  .button {
    width: 50%;
  }
  .text {
    padding-top: 0;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .availableText {
    display: none;
  }
  .items {
    width: 100%;
  }
  .buttons {
    display: flex;
    flex-direction: row;
  }
  .download {
    width: 50%;
  }
  .techFlex {
    display: flex;
    flex-direction: column;
    height: 5rem;
  }
  .techIntro {
    padding-top: 2rem;
    height: 15rem;
  }
  .techInfo {
    padding-top: 1rem;
    height: 60rem;
  }
  .techContainer {
    height: 50rem;
  }
}
@media (max-width: 300px) {
  .block {
    width: 15rem;
  }
  .button {
    width: 15rem;
  }
}
@media (max-width: 290px) {
  .mahir {
    display: none;
  }
}
