@import url("https://fonts.googleapis.com/css2?family=Arimo&display=swap");
.main {
  height: 300rem;
  background-color: rgb(34, 32, 32);
  color: white;
}
.overviewContainer {
  width: 100%;
  height: 60rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.overview {
  width: 85%;
  height: 100%;
  display: grid;
  grid-template-columns: 0.4fr 0.8fr 0.5fr;
}
.button {
  width: 100%;
  padding: 1rem;
  font-family: "Arimo", sans-serif;
  font-size: 1.7rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff8f8;
  background-color: green;
  border: none;
  cursor: pointer;
  background-color: #6ac045;
  border-radius: 3px;
}
.underlineText {
  color: #9c969c;
}
.picture {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  font-size: 1.4rem;
  padding-bottom: 1rem;
  gap: 1rem;
}
.block {
  width: 100%;
  height: 39.5rem;
  background-color: #6ac045;
  border: 5px solid #fff8f8;
  border-radius: 5px;
}
.icon {
  width: 2rem;
  height: 2rem;
  stroke: #428e21;
}
.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.item {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.4rem;
}
.buttons {
  display: flex;
  gap: 1rem;
  padding-bottom: 1rem;
}
.review {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.year {
  color: #fff8f8;
  font-size: 1.3rem;
}
.availableText {
  font-size: 1.7rem;
  color: #fff8f8;
}
.title {
  font-size: 4rem;
  color: #fff8f8;
}
.download {
  width: 16rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid #9c969c;
  border-radius: 4px;
  font-size: 1.4rem;
  color: white;
  background-color: #242224;
  padding: 0.3rem 0.3rem;
  text-decoration: none;
}
.items {
  width: 75%;
  height: 40rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.available {
  display: flex;
  flex-direction: column;
}
.buttons {
  display: flex;
  align-items: center;
}
.resolution {
  width: 9rem;
  background-color: #242224;
  color: white;
  font-size: 1.4rem;
  border: 1px solid #9c969c;
  border-radius: 4px;
  cursor: pointer;
  padding: 0.5rem 0.3rem;
  text-decoration: none;
  text-align: center;
}
.heart {
  stroke: green;
  fill: green;
}
.imdb {
  width: 4rem;
  height: 2rem;
  cursor: pointer;
  color: transparent;
}
.rotten {
  width: 1.5rem;
  height: 2rem;
  cursor: pointer;
  color: transparent;
}
.similar {
  height: 100%;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}
.similarContainer {
  width: 80%;
  height: 60%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.similarBlock {
  width: 10rem;
  height: 15rem;
  border: 4px solid white;
  border-radius: 4px;
  cursor: pointer;
}
.similarBlock:hover {
  border: 4px solid green;
}
.similarTitle {
  font-size: 1.6rem;
}
.pictures {
  height: 30rem;
  background-color: #1d1d1d;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.trailer {
  width: 30%;
  height: 80%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.5rem;
  font-weight: bold;
}
.play {
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.trailer:hover {
  opacity: 0.6;
}
.cast {
  font-family: "Arimo", sans-serif;
  height: 45rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1d1d1d;
}
.container {
  width: 85%;
  height: 100%;
  display: flex;
}
.introduction {
  width: 55%;
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2rem;
  padding-top: 2rem;
}
.introTitle {
  font-size: 2rem;
}
.introText {
  font-family: "Arimo", sans-serif;
  font-weight: 400;
  line-height: 2.4rem;
  margin-top: 4rem;
  font-size: 1.5rem;
  color: #919191;
}
.castInfo {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.castContainer {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 2rem;
}
.castMember {
  height: 13.5%;
  width: 100%;
  border-bottom: 2px solid #302f2f;
  display: flex;
  align-items: center;
  color: #919191;
  text-decoration: none;
}
.castPicture {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-image: url("../../images/default_avatar.webp");
}
.character {
  color: white;
  padding-left: 1rem;
}
.castName {
  padding-left: 1.5rem;
  font-size: 1.3rem;
}
.castName:hover {
  color: white;
  cursor: pointer;
}
.castTitle {
  font-size: 2rem;
}
.techSpec {
  width: 100%;
  height: 25rem;
  background-color: #1d1d1d;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.techContainer {
  width: 85%;
  height: 20rem;
  background-color: #1d1d1d;
  display: flex;
  flex-direction: column;
}
.techIntro {
  width: 100%;
  height: 25%;
  background-color: #1d1d1d;
  display: flex;
  align-items: center;
  gap: 20rem;
  font-family: "Arimo", sans-serif;
}
.techIntro > div {
  height: 100%;
  display: flex;
  gap: 1rem;
  font-size: 1.4rem;
  cursor: pointer;
  align-items: center;
}
.insideDiv {
  color: #82877d;
  height: 100%;
  display: flex;
  padding-left: 1rem;
  padding-right: 1rem;
  justify-content: center;
  align-items: center;
}
.techIntro > h1 {
  font-size: 2rem;
}
.techInfo {
  width: 100%;
  height: 80%;
  background-color: #171717;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
}
.techDiv {
  background-color: #171717;
  border-bottom: 2px solid #262626;
  display: flex;
  padding-left: 2rem;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
.techDiv > h2 {
  font-size: 1.4rem;
  color: #82877d;
}
.techDiv > a {
  text-decoration: none;
  color: #82877d;
  font-size: 1.4rem;
}
.techDiv > a:hover {
  color: white;
}

.techIcon {
  width: 2rem;
  height: 2rem;
  stroke: #82877d;
  /* fill: #82877d; */
}
