@import url("https://fonts.googleapis.com/css2?family=Arimo&display=swap");

.main {
  /* background-color: grey; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main {
  background-image: url("../images/Background-home.jpg");
  /* filter: blur(8px); */
  /* -webkit-filter: blur(8px); */
  background-position: center;
  background-size: cover;
}
.text {
  width: 90%;
  height: 28rem;
  text-align: center;
  color: white;
  font-family: "Arimo", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid lightgrey;
  padding-top: 2rem;
}
.title {
  font-size: 2.2rem;
}
.description {
  width: 50%;
  font-size: 1.4rem;
  line-height: 1.6rem;
  letter-spacing: 0.1px;
}
.icon {
  width: 2rem;
  height: 2rem;
  stroke: rgb(113, 184, 113);
  fill: rgb(113, 184, 113);
}
.popularText {
  /* font-weight: bold; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
}
.popularText > h2 {
  font-size: 1.8rem;
  font-weight: lighter;
  font-family: "Arimo", sans-serif;
}

.linkTxt {
  text-decoration: none;
  font-size: 1.4rem;
  color: #428bca;
}
.linkTxt:hover {
  color: #2b5d8a;
}
