@import url("https://fonts.googleapis.com/css2?family=Arimo&display=swap");
.main {
  background-color: #1d1d1d;
}
.pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.padding {
  padding-bottom: 2.4rem;
}
.link {
  width: 4.5rem;
  height: 3.6rem;
  background-color: #1d1d1d;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
  font-family: "Arimo", sans-serif;
  font-weight: bold;
  border-radius: 4px;
  border: 2px solid #333333;
}
.previous {
  font-size: 1rem;
}
.active {
  background-color: #6ac045;
  border: 2px solid #6ac045;
}
.previous {
  width: 5rem;
}
.paginationTitle {
  padding-top: 3rem;
  font-size: 1.4rem;
  text-align: center;
  color: #61ba32;
}
.number {
  font-size: 2rem;
  color: #6ac036;
  font-weight: bold;
}

.pages {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-top: 3rem;
}
.srce {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.details {
  column-gap: 1.2rem;
  padding-top: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 0.9fr;
  justify-items: center;
  align-content: center;
  row-gap: 3.6rem;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hidden {
  display: none;
}
.hidden2 {
  display: none;
}
@media (max-width: 980px) {
}
@media (max-width: 870px) {
  .details {
    grid-template-columns: 1fr 1fr 1fr;
    /* row-gap: 3.6rem; */
    justify-items: center;
    align-content: center;
    column-gap: 0;
  }
}
@media (max-width: 770px) {
  .details {
    width: 90%;
  }
}
@media (max-width: 700) {
  .details {
    width: 100%;
  }
}
@media (max-width: 670px) {
  .details {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-content: center;
    /* row-gap: 3.6rem; */
  }
}
@media (max-width: 400px) {
  .details {
    width: 100%;
  }
}
@media (max-width: 320px) {
  .details {
    grid-template-columns: 1fr;
  }
}
