.header {
  /* background-color: red; */
  width: 100%;
  height: 5.5rem;
  display: grid;
  grid-template-columns: 0.4fr 1fr 1fr;
  background: #1d1d1d;
  border-bottom: 2px solid #2f2f2f;
  z-index: 10;
}

.image {
  height: 75%;
  width: 70%;
  background-image: url("../../images/yts-logo.jpg");
  background-position: center;
  background-size: cover;
}
.search {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.input {
  width: 100%;
  height: 50%;
  padding-left: 8px;
  background-color: #1d1d1d;
  border: none;
  color: #919191;
  font-size: 1.4rem;
  font-family: inherit;
  font-weight: bold;
  padding-top: 4px;
  padding-bottom: 4px;
}
.input:focus {
  outline: none;
}
.input:focus::placeholder {
  color: transparent;
}
.searchIcon {
  width: 1.7rem;
  height: 1.7rem;
  stroke: #919191;
}
.searchItems {
  padding: 0.4rem;
  border: 2px solid #2f2f2f;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
}

.links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 5%;
}
.list {
  color: #919191;
  font-size: 1.4rem;
  text-decoration: none;
  list-style: none;
  display: flex;
  gap: 2rem;
  font-weight: bold;
}
.list:hover {
  color: white;
}
.list:nth-child(2) {
  color: rgb(117, 197, 117);
}
.login {
  color: white;
  text-decoration: none;
}
.login:hover {
  color: #919191;
}
.hidden {
  display: none;
}
.hiddenSearchIcon {
  width: 3rem;
  height: 3rem;
  justify-content: center;
  align-items: center;
  stroke: white;
  cursor: pointer;
}
.fourk {
  font-size: 3rem;
  color: green;
  cursor: pointer;
}
@media (max-width: 1050px) {
  .links {
    margin-right: 1rem;
  }
  .list {
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
  }
}
@media (max-width: 990px) {
  .input {
    display: none;
  }
  .searchIcon {
    display: none;
  }
  .hidden1 {
    display: none;
  }
  .hidden {
    display: block;
  }
  .logo {
    width: 15rem;
  }
  .image {
    width: 100%;
    margin-left: 2rem;
  }
  .fourk {
    font-size: 2.5rem;
  }
}
@media (max-width: 650px) {
  .hiddenSearchIcon {
    width: 2.5rem;
    height: 2.5rem;
  }
  .fourk {
    font-size: 2.5rem;
  }
  .logo {
    width: 15rem;
  }
  .searchItems {
    display: none;
  }
  .search {
    display: none;
  }
  .header {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 500px) {
  .hiddenSearchIcon {
    width: 2rem;
    height: 2rem;
  }
  .fourk {
    font-size: 2rem;
  }
  .logo {
    width: 13rem;
  }
  .searchItems {
    display: none;
  }
  .search {
    display: none;
  }
  .header {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 395px) {
  .hiddenSearchIcon {
    width: 1.5rem;
    height: 1.5rem;
  }
  .fourk {
    font-size: 1.5rem;
  }
  .logo {
    margin: 0;
  }
  .image {
    width: 10rem;
    margin: 0;
  }
  .searchItems {
    display: none;
  }
  .search {
    display: none;
  }
}
@media (max-width: 340px) {
  .hiddenSearchIcon {
    width: 1.3rem;
    height: 1.3rem;
  }
  .fourk {
    font-size: 1.3rem;
  }
  .logo {
    margin: 0;
  }
  .image {
    width: 9rem;
    margin: 0;
  }
  .searchItems {
    display: none;
  }
  .search {
    display: none;
  }
}
